body {
    font-family: Arial, Helvetica, sans-serif;
}
footer {
        position: fixed;
    bottom: 0;
    left: 0;
    font-size: 14px;
}
#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game {
  transition: transform 0.2s ease;
}
.game:hover {
      transform: scale(1.05);
}
#intro {
    font-size: 20px;
}
#games {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    flex-wrap: wrap;
    margin: 0 auto;
}
#game1Logo {
    height: 200px;
    width: 350px;
    border: rgb(202, 193, 193) solid 5px;
    border-radius: 12px;
    margin: 30px;
}
#game2Logo {
    height: 200px;
    width: 350px;
    border: rgb(26, 24, 24) solid 8px;
    border-radius: 12px;
    margin: 30px;
}
#game3Logo {
    height: 200px;
    width: 350px;
    border: #1b872d solid 4px;
    border-radius: 12px;
    margin: 30px;
}
#game4Logo {
    height: 200px;
    width: 350px;
    border: lightgrey solid 4px;
    border-radius: 12px;
    margin: 30px;
}
#game5Logo {
    height: 200px;
    width: 350px;
    border: #ff0000 solid 4px;
    border-radius: 12px;
    margin: 30px;
}
